<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationisbetter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/mustache"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mustache"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@drawable/photo"
        >
        <activity
            android:name=".ui.loginpage.LoginActivity"
            android:noHistory="true"
            android:icon="@drawable/mustache"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.userpage.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.usercreatepage.CreateUserActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.updatepage.UpdateActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>

<!--android:hardwareAccelerated="false"
        android:largeHeap="true"

        это нужно чтобы андроид не умирал при работе с изображениями
        в перспективе воспользоваться библиотекой Universal Image Loader
        проблема не хватка памяти при работе с растровыми изображениями-->